:root {
    --main-theme:#c8c8c8;
    --ligth-theme:#e3e3e3;
    --dark-theme:#adadad;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;

}

.container-app {
    max-width: 560px;
    margin: 0 auto;
    margin-top: 4rem;
    background-color: var(--main-theme);
    padding: 1.5rem;
    border-radius: 6px;
}
.task-app {
    background-color: var(--dark-theme);
    padding: 14px;
    border-radius: 6px;
}
.container-inputs {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.btn-standard,
.btn-standard *,
.btn-standard :after,
.btn-standard :before,
.btn-standard:after,
.btn-standard:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-standard, .delete-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.btn-standard:disabled {
  cursor: default;
}

.btn-standard:-moz-focusring {
  outline: auto;
}

.btn-standard svg {
  display: block;
}

.btn-standard [hidden] {
  display: none;
}

.btn-standard {
  border-width: 1px;
  padding: .8rem 2rem;
  position: relative;
  text-transform: uppercase;
}

.btn-standard:before {
  --progress: 100%;
  background: #fff;
  -webkit-clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  clip-path: polygon(
    100% 0,
    var(--progress) var(--progress),
    0 100%,
    100% 100%
  );
  content: "";
  inset: 0;
  position: absolute;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}

.btn-standard:hover:before {
  --progress: 0%;
}

.btn-standard .text-container {
  display: block;
  overflow: hidden;
  position: relative;
}

.btn-standard .text {
  display: block;
  font-weight: 900;
  mix-blend-mode: difference;
  position: relative;
}

.btn-standard:hover .text {
  -webkit-animation: move-up-alternate 0.3s ease forwards;
  animation: move-up-alternate 0.3s ease forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}
.task-input {
    font-size: 14px;
    
}

.task-container {
    display: flex;
}
.task-list {
    display: block;
}

.task-item {
    display: flex;
    padding: .3rem .6rem;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 4px;
    background-color: #fff;
    border-radius: 6px;
}
.delete-button {
    padding: .3rem 1.1rem;
}
.delete-button:hover {
   transform: translateY(3%);
}
.completed span{
    text-decoration: line-through;
}